

header
{
	width: auto;
	background-color: Gainsboro;

}


nav > ul
{
	margin: 10px 0 0 0;
	padding: 0px;


}
nav > ul > li 
{
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: CadetBlue;


}

article
{
	margin-right: 10px;
	clear: both;
	overflow: auto;
}


#content
{
	margin: 0px auto;
	width: 1080px;
	background-color: AntiqueWhite;
	overflow: auto;


}

.imageActu
{
    float: left;
	margin: 10px;

	
}

 a:link
 {
    color: blue;
    text-decoration: none;
 }
 a:hover
 {
    color: blue;
    text-decoration: none;
 }
       
a:active
{
    color: blue;
    text-decoration: none;
}

a:visited
{
    color: blue;
    text-decoration: none;
}